

.create-post-container{
    display: flex;
   
    gap: -100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1.4rem;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.6);
   
    border: 0.8px solid rgba(0, 0, 0, 0.6);
    height: 6.6rem;
    max-width: 510px;
    left: 400px;
    right: 50px;
    
}

#createPost {
    position: relative;
    top: -20px;
    border: 0.8px solid rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    border-radius: 30px;
    max-width: 480px;
    height: 2.9rem;
    padding: 1rem;
    cursor: pointer;
    width: 450px;
    margin-left: 47px;
    margin-right: 15px;
    
}
.lucide-user-circle3{
    margin-top: -50px;
    margin-left: 10px;
}
