.trypremiumPage{
   margin-bottom: 0;
   padding: 2.4rem 0;
   background: #fff;
}
.header{
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid hsla(0, 0, 55%, 0.2);
    padding-bottom: 0.3rem;

}
.box{
    background-color: #fff;
    height: 50px;
}