.profile-main-background {
  display: flex;
  gap: 2rem;
}
.profile-main {
  max-width: 800px;
  margin-top: 20px;
  flex-basis: 73%;
  margin-left: 80px;
  border-radius: 12px;
}

.profile-container1 {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 14px;
}
.main-background-image {
  border-radius: 14px;
  overflow: hidden;
}
.profile-container-inner {
  padding: 0 4% 10px;
}
.profile-pic {
  width: 150px;
  border-radius: 50%;
  margin-top: -75px;
  padding: 5px;
  background: #fff;
}
.profile-container h1 {
  font-size: 28px;
  font-weight: 600;
  color: #222;
}
.profile-container b {
  font-weight: 500;
}
.profile-container p {
  margin-top: 5px;
}
.profile-container p a {
  color: #045be6;
  font-weight: 500;
}
.primary-btn {
  text-decoration: none;
}
.sec-btn {
  text-decoration: none;
}
.mutual-connection {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.mutual-connection img {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.profile-btn {
  margin: 20px 0;
}
.profile-btn a {
  display: inline-flex;
  align-items: center;
  background: #e4e6eb;
  padding: 6px 15px;
  border-radius: 4px;
  margin-right: 10px;
}
.profile-btn a img {
  width: 18px;
  margin-right: 5px;
}
.profile-btn .primary-btn {
  background: #045be6;
  color: #fff;
}
.profile-description {
  background: #fff;
  padding: 20px 4% 30px;
  margin: 12px 0;
  border-radius: 12px;
}
.profile-description h2 {
  color: #333;
  margin: 10px 0 20px;
}
.see-more-link {
  display: block;
  text-align: right;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}
.profile-dec-row {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}
.profile-dec-row img {
  width: 50px;
  margin-right: 25px;
  margin-top: 5px;
}
.profile-dec-row div {
  width: 100%;
}
.profile-dec-row h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.profile-dec-row b {
  display: block;
  font-weight: 500;
  font-size: 15px;
}
.profile-dec-row p {
  margin-top: 15px;
}
.profile-dec-row hr {
  border: 0;
  border-bottom: 1px solid #999;
  margin-top: 10px;
}
.experience-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  font-weight: 500;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.experience-link img {
  width: 20px;
  margin-left: 8px;
}
.skills-btn {
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  border: 1px solid #777;
  border-radius: 30px;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}
.language-btn {
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  background: #e4e6eb;
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}
.profile-sidebar {
  flex-basis: 25%;
  width: 130px;
  align-self: flex-start;
  /* position: sticky; */
  top: 73%;
  margin-top: 20px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 250px;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 50%;
}
.sidebar-ad img {
  width: 25%;
  border-radius: 50%;
}
.profile-sidebar .sidebar-ad {
  margin: 0;
}
.small {
  display: flex;
  justify-content: end;
  margin-right: 9px;
}
.profile-sidebar p {
  text-align: center;
}

.sidebar-ad .container-image2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-image2 b {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
}
.learn-more-link {
  text-decoration: none;
  border-radius: 16px;
  border: 1px solid rgb(10, 102, 194);
  text-align: center;
  padding: 6px 18px;
  margin: 10px 10px;
}
.sidebar-people {
  background: #fff;
  padding: 15px 25px;
  margin: 12px 0;
  font-size: 12px;
  border-radius: 12px;
}
.sidebar-people h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 20px;
}
.sidebar-people-row {
  display: flex;
  align-items: flex-start;
  margin: 6px 0;
}
.sidebar-people-row img {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 5px;
}
.sidebar-people-row h2 {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}
.sidebar-people-row button {
  margin: 0px;
  /* margin-bottom: 5px; */
  padding: 5px 25px;
  border: 1px solid #0a66c2;
  border-radius: 30px;
  background-color: rgba(0, 0%, 100%, 0);
  font-weight: 600;
  text-decoration: none;
  color: #0a66c2;
}
.profile-footer {
  margin-top: 40px;
  padding: 0 6% 30px;
  width: 1000px;
}
.profile-footer .sidebar-useful-links {
  text-align: left;
}
.sidebar-useful-links .footer-links {
  text-decoration: none;
  padding: 20px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
/* .sidebar-useful-links .footer-links:hover {
  text-decoration: underline;
  color: #045be6;
} */
.profile-footer .copyright-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.copyright-msg img {
  width: 20px;
  height: 20px;
}
.copyright-msg p {
  margin-left: 5px;
  font-size: 13px;
  margin-top: 6px;
}
@media screen and (max-width: 768px) {
  .profile-sidebar {
    display: none;
  }
  
  .profile-main {
    width: 700px;
    margin-left: 0px;
    margin-right: 0px;
    flex-basis: 95%;
  }
  .profile-container1 .main-background-image {
    width: 100%;
  }
  .profile-container-inner .profile-pic {
    
    width: 60px;
    
  }
  .profile-footer{
    width: 100%;
  }
  .footer-links{
    display: inline;
    
  }
}
