
.login-main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
 
}
.login-main img {
  width: 500px;
  height: 500px;
}
.linkedinLogin {
  display: flex;
  margin-top: 30px;
}

.linkedinLogin {
  margin-left: 100px;
}

.linkedinLogin svg {
  height: auto;
  width: 10%;
  margin-bottom: 70px;
}
.loginForm {
  display: flex;
  flex-direction: column;
}
.errorMsg {
  color: rgb(202, 5, 5);
  font-size: 14px;
  font-weight: 600;
}
.succesfullMsg {
  color: rgb(2, 146, 2);
  font-size: 14px;
  font-weight: 600;
}

.loginForm h1 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 56px;
  font-weight: 200;
  color: #8f5849;
}
.second-div {
  margin-top: 0;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
form label {
  color: rgba(0, 0, 0, 0.75);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.text-input-flex {
  display: flex;
  background-color: var(--color-input-container);
  border-color: var(--color-input-container-border);
  color: var(--color-input-value);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 400px;
}
.text-color {
  outline-width: 0px;
  outline: none;
  border: none;
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}
form a {
  font-weight: 600;
  color: #0a66c2;
  line-height: 1.25;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: fit-content;
  text-decoration: none;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}
.signIn-button {
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 70%;
  border: 1px solid #00000000;
  color: #fff;
  height: min-content;
  min-height: 48px;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  background-color: #0a66c2;
}
.joinNow-button {
  width: 70%;
  cursor: pointer;
  text-decoration-line: none;
  height: min-content;
  min-height: 48px;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.forgotLink {
  margin-left: -6.5px;
}
.forgotLink:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 767px) {
  .login-main{
    margin-left: 15px;
  }
  .linkedinLogin {
    padding: 12px;
    align-self: flex-start;
  }
  .linkedinLogin svg {
    width: fit-content;
    align-items: center;
    margin-left: -100px;
  }
  .second-div {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .second-div .loginForm h1 {
    font-size: 27px;
  }
  form label{
    font-size: 18px;
  }
  .text-input-flex{
    max-width: 330px;
    height: 70px;
  }
  .forgotLink{
    margin-left: 2px;
  }
  .signIn-button{
    margin: 20px 50px;
    
  }
  .forHr{
    width: 100%;
  }
  .joinNow-button{
    margin: 20px 50px;
  }
  .second-div img {
    margin-top: -110px;
    width: 300px;
  }
}
